.ui-panelgrid.showcase-text-align-center .ui-grid-responsive .ui-panelgrid-cell {
    text-align: center;
}

.customPanelGrid .ui-panelgrid-content {
    align-items: center;
}

.login-button {
    color: #FF8282;
    margin-right: 25px;
}