/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2020-jan-21, 15:28:20
    Author     : jespe
*/

body {
    font-family: 'Gill Sans', sans-serif;
}

a:link, a:visited, a:active {
  color: #000 !important;
  text-decoration: none !important;
}

a:hover {
  color:#333 !important;
  text-decoration: none !important;
  text-shadow:2px 2px #e5e5e5;
}

#form {
    margin-top:0px;
}

.header button {
    background: none;
    border:none;
}

.header button:hover {
    box-shadow: 2px 2px #e5e5e5;
}

.image {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.col-md-3 .image:hover {
  opacity: 0.7;
}

.row {
    margin-top:20px;
}

.row .col-md-3 img {
    width:200px;
    height:305px;
    border-radius:1px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.row .col-md-3 {
    padding-top:20px;
}

.container {
    
}

.header {
    width:100%;
    height:50px;
    background-color:#FFF;
    margin-top:0px;
    margin-left:0px;
    border-bottom:#e5e5e5 1px solid;
    padding-top:12px;
    position:relative;
}

.header ul {
    list-style:none;
    padding:0 0 0 0;
    margin-left:57px;
    position:display;
}

.header li {
    display:inline;
    margin-left:20px;
}

.login {
    width:100px;
    position:absolute;
    top:12px;
    right:97px;
}

#footer {
    width:100%;
    display:relative;
    height:100px;
    background-color:#FFF;
    border-top:1px solid #e5e5e5;
    margin:20px auto auto auto;
}

.movie-details {
    width:100%;
    height:325px;
    margin-top:20px;
}

.movie-details img {
    float:left;
    padding-right:20px;
}

.movie-desc {

}

.watchlist {
    margin-left: 15%;
    width: 70%;
}

.watchlist-movie-header {
    font-size: 24px;
    font-weight: bold;
}

.watchlist-add-button {
    margin-left: 25px;
}

#popupdark {
    width:100%;
    height:100%;
    background-color:#000;
    opacity:0.2;
    display:none;
    z-index:1;
    position:fixed;
}

#popup {
    background-color:#FFF;
    width:400px;
    height:300px;
    position:fixed;
    display:none;
    z-index:1;
    left: 50%;
    margin-left: -200px;
    top:50%;
    margin-top: -150px;
    border: 1px solid #e5e5e5;
    border-radius:10px;
}

#popup form {
    margin-left:40px;
    margin-top:40px;
}

#loginbutton2 {
    background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
        border-radius:4px;
}

#loginbutton2:hover {
    background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}

.button-container {
    float:right;
}

.login-button {
    float:right !important;
    height:40px;
    margin-top:4px;
}

.logged-in-text {
    float:left;
    margin-top:4px;
    padding-right:10px;
    color:#000 !important;
}

#navbar {
    width:100%;
    height:40px;
    margin:0px;
}

.logoname {
    font-size:18px;
}

.search-movie {
    width:300px;
}

.search-button {
    margin-left:10px !important;
}

.search-wrapper {
   margin-left:22px;
}

/*detailedMovie.xhtml review form*/

.form-container {
    width:100%;
    background-color:#efefef;
    height:400px;
    padding-left:22px;
    padding-top:4px;
}
.reviewForm { 
    width:500px;
}

.reviewForm .content {
    width:500px;
    height:200px;
}

.reviewForm .logged {
    font-style: italic;
    color:#666;
}

.reviewForm .submitButton {
    float:right;
}

#navi {
    margin-top: 0px;
    padding-left: 15%;
    padding-right: 15%;
}

#content {
    padding-left: 15%;
    padding-right: 15%;
}

#castform {
    padding-left: 15%;
    padding-right: 15%;
}